<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AbandonProcessGroup</key>
	<true/>
	<key>Disabled</key>
	<false/>
	<key>Label</key>
	<string>homebrew.mxcl.energy-save</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/energy-save</string>
		<string>00:05:00</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/homebrew.mxcl.energy-save.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/homebrew.mxcl.energy-save.out</string>
</dict>
</plist>
